@charset "utf-8";
/* CSS Document */

div, p, span, h1, h2, h3, h4{
	font-family:"微软雅黑";
}

body {
	background-color:#F8F8F8;
	margin:0;
}

#container{	
	margin:auto;
	width:960px;
	height:900px;
}

#left{
	background-color:#F8F8F8;
	width:600px;
	height:100%;
	float:left;
	padding-left:20px;
}

#right{
	background-color:#E0E5E2;
	height:100%;
	width:300px;
	float:left;
}

#register{
	padding-left:20px;
}

.email, .password, .password_confirm{
	padding-top:20px;
	padding-bottom:20px;
	//line-height:30px;
}

input.in {
	font-size:20px;
	width:380px;
	line-height:28px;
	text-align:left;
	border:#ccc 1px solid;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	margin-left:5px;
}

span.initial{
	display:inline-block;
	line-height:30px;
}

.login{
	margin:105px 0 0 50px;
	color:#0F0;
}